.myorderhead{
  background-color:#2874f0;
  width: 900px;
  height:40px;
  margin-top: 20px;
  margin-left: 100px;  
  margin-bottom: 10px;  
  text-align:center;
  color:#ffffff;
  font-weight: bold;
  padding-top:10px; 
}
.myorderhead div{
  float: left;
  margin-left:10px;
}
.orderdetails{
  position: absolute;
  top: 115px;
  left: 1px;
  width: 1000px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  overflow-y: scroll;
}
.orderdetailspdt{
  width: 900px; /* Adjust the width as needed */
  height: 140px; /* Adjust the height as needed */
  overflow: auto;
  background-color: #f0f5ff;
  
}
.delivery{
 float:right;
 color: black;
 margin-right:50px;
 font-weight: bold;
}
.addressdiv1{
  background-color:#ffffff;
  width: 880px;
  height:150px;
  margin-left: 100px; 
 
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
.addressdiv1 .orderimg {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  }
  .addressdiv1 img {
    width:80px;
    height:80px;
    margin-left:30px;
  }
  .productdetailsmyorder{
    
    font-weight: bold;
    font-size: 14px;
    
  }
  .addressdiv1 .orderimg {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top:30px;
    opacity: 1;
    max-width: 10%;
    max-height: 10%;
    margin-left:10px;
    }
    .print {
      background-color: rgba(20, 20, 20, 0.103);
      color: 007bff;
      border: none;      
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      cursor: pointer;     
      height:20px;
      float:right;
      
    }
    .orderdiv{
      margin-left:150px;
    font-weight: bold;
    font-size: 14px;
    }
    .tdclass{
      width:200px;
    }