.myprofilehello{
  background-color:white;
  width: 300px;
  height:60px;
  margin-top: 20px;
  margin-left: 100px;
  color:black;
  font-weight: bold;
  display: flex;
}
.imghello{
  padding:5px;
  padding-left:10px;
}
.imgmyorders{
  padding-top:20px;
  padding-left:10px;

}
.hellotxt{
  float:center;
  padding-left:80px;
  padding-top:25px;
}
.myorderstxt{
  float:center;
  padding-left:80px;
  padding-top:25px;
  color:blue;
  cursor: pointer;
  
}
.myprofilemyorders{
  background-color:white;
  width: 300px;
  height:60px;
  margin-top: 80px;
  margin-left: -180px;
  color:black;
  font-weight: bold;

}
.floatright{
  float: right;
  padding:25px;
}
.personalinfo{
  background-color:#ffffff;
  width: 850px;
  height:350px;
  margin-top: 20px;
  margin-left: 20px;  
  margin-bottom: 10px; 
}
.inputtexbox {
  width: 100%;
  font-size: 14px;
  border: 1px solid #f0f0f0;
  outline: none;
  border-radius: 2px;
  padding: 20px 16px 0 13px;
  box-shadow: none;
  -moz-appearance: textfield;
 
  height: 50px;
  padding-block: 1px;
  padding-inline: 2px;
 
}
.inputtextboxlabel {
    transform-origin: top left;
    padding: 18px 20px 0;
    font-size: 14px;
    color: var(--color-grey-grade4);
    transition: transform .2s ease;
    pointer-events: none;
    width: 100%
}
.divrow{
  display:flex;
  width:800px;
  padding:10px;
}
.divleft{
  width:150px;
}
.divright{
  width:250px;
}
.savebtn {
  background-color:  #2874f0;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px 10px;
  cursor: pointer;
  font-weight: bold;  
  width:100px;
  float:right;
  margin-right:10px;
 

}
.phoneNumberError {
  color: red; 
  font-size: 80%; 
}